doctype html
html
    head
        link(rel="stylesheet" href=autoVersion("/app.css"))
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
        
        title Run
    body 
        canvas#app
        div#intro Take the ball and run!

        script(src=autoVersion("/js/client.bundle.js"))