doctype html
html
    head
        link(rel="stylesheet" href=autoVersion("/app.css"))
        meta(name="viewport" content="initial-scale=1")
        title Run
    body 
        canvas#app

        script(src=autoVersion("/js/client.bundle.js"))