{
    "presets": [
        "stage-2",
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 1 versions",
                        "not ie 5-11",
                        "not android <= 5"
                    ]
                },
                "debug": true,
                "useBuiltIns": true,
                "modules": false
            }
        ]
    ],
    "plugins": [
        "transform-es2015-modules-commonjs" 
    ]
}