{
    "presets": [ 
        [
            "@babel/preset-env",
            {
                "targets": "last 1 version, not ie > 0, not android > 0", 
                "debug": true,
                "useBuiltIns": "entry"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}