.boom-button {
    position: fixed;
    font-size: 1.25em;
    letter-spacing: .05em;
    font-weight: 200;
    color: rgba(#fff, .5);
    user-select: none;
    mix-blend-mode: overlay;
    bottom: calc(min(max(8vw, 3rem), 4rem) + env(safe-area-inset-bottom, 0)) ;
    left: 50%;
    z-index: 1; 
    border: 1px solid rgba(#FFF, .1); 
    transform: translateX(-50%);
    text-transform: uppercase;
    padding: .5em 1.75em;
    margin-bottom: -.5em;
    cursor: pointer;
    transition: all .25s;

    &--active {
        font-weight: 300;
        border-color: rgba(#FFF, .6);
        color: rgba(#fff, 1); 
    } 
}