@import "../../../assets/styles/utils.scss";

.game-over-stats { 
    position: fixed;
    font-weight: 200; 
    white-space: nowrap;
    line-height: 1;
    user-select: none;
    mix-blend-mode: overlay;
    text-transform: uppercase; 
    text-align: center;
    transform: translateX(-50%); 
    z-index: 1;
    letter-spacing: .05em; 
    top: calc(min(max(5vh, 3rem), 4rem) + env(safe-area-inset-top, 0));
    left: 50%;

    &__personal-best {
        opacity: .5;
        margin-bottom: .5rem;  
        @include fluid-type(16px, 20px);
    }

    &__score { 
        opacity: 1;
        @include fluid-type(24px, 32px); 
    }
}