@import "../../../assets/styles/utils.scss";

.message {
    position: absolute;
    z-index: 1; 
    bottom: calc(min(max(8vw, 3rem), 4rem) + env(safe-area-inset-bottom, 0)) ;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: .1em; 
    mix-blend-mode: multiply; 
    font-weight: 300;
    animation: message-in .35s both 1s;
    opacity: .65;
    user-select: none;
    text-transform: uppercase;
    @include fluid-type(18px, 24px);
}

@keyframes message-in {
    from {
        opacity: 0;
        transform: translateY(1em) translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}