@import "../../../assets/styles/utils.scss";

.runner-stats { 
    position: fixed;
    font-weight: 200;
    color: #fff;
    user-select: none;
    mix-blend-mode: overlay;
    text-transform: uppercase; 
    white-space: nowrap; 
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-name: runner-stats-in; 
    @include fluid-type(24px, 32px); 
    letter-spacing: .05em;
    opacity: .75; 
    top: calc(min(max(5vh, 3rem), 4rem) + env(safe-area-inset-top, 0));
    line-height: 1;
    z-index: 1;
    user-select: none; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    &__label { 
        display: block; 
        font-size: .5em;
        margin-top: .35em;
        font-weight: 200;
        opacity: .5;
    }
} 

@keyframes runner-stats-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
 