@import "../../../assets/styles/utils.scss";

.title-card {
    position: absolute;
    display: block;
    text-align: center;
    top: 50%;
    z-index: 1;
    margin-top: -.2em;
    letter-spacing: -.1em;
    left: 50%; 
    transform: translate(-50%, -50%) skewY(-11.5deg) translateZ(1px);
    user-select: none;
    line-height: .95;
    font-weight: 500;
    letter-spacing: -.01em;
    white-space: pre;
    color: purple; 
    mix-blend-mode: multiply; 
    text-shadow: 0 0 .5em rgba(black, 0.2);
    @include fluid-type(95px, 300px); 

    &--big {
        @include fluid-type(95px, 325px);
    }

    &__letter {
        animation: title-card-letter-in .45s both; 
        display: inline-block; 
        transform-style: preserve-3d;
        margin: 0 -.025em;

        @for $i from 1 through 35 {
            &:nth-child(#{$i}) {
                animation-delay: (($i - 1) * .075) + s;
            }
        }
    }
}

@keyframes title-card-letter-in {
    0% {
        opacity: 0;
        transform: translateX(-.5em);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    } 
}
