#ui {
    position: fixed;
    bottom: 2em;
    left: 0;
    right: 0;
    font-size: 2em;
    text-align: center;
    z-index: 100;
}

body { 
    font-size: 1.5em;
    touch-action: none; 
    font-family: "Open Sans";
    transition: background-color 1.75s;
    font-weight: 300; 
    color: #FFF;
    background-color: #222;  
} 
 
body, html {
    height: 100vh;
    margin: 0;
    width: 100vw;
    overflow: hidden; 
    padding: 0; 
}

* {
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: transparent;
    border: none; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
} 

*:focus {
    box-shadow: none !important;
    outline: none !important;
}

canvas {
    width: 100vw !important;  
    height: 100vh !important;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}