@import "global.scss";
@import "typography.scss"; 

.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

button {
    background-color: #000;
    color: #FFF;
    padding: .35em .75em;
}

.reload {
    position: fixed;
    z-index: 1;
    bottom: 1em;
    left: 1em;
    color: #000;
    background: transparent;
}