@import "global.scss";
@import "typography.scss"; 

.panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

canvas {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index: 0;
}

button {
    background-color: #000;
    color: #FFF;
    padding: .35em .75em;
}

.reload {
    position: fixed;
    z-index: 1;
    bottom: 1em;
    left: 1em;
    top: auto;
    color: #000;
    background: transparent;
}

.score {
    color: blue;
    position: fixed;
    top: 1em;
    left: 1em;
}

#debugz {
    background-color: blue;
    padding: .5rem;
    color: #FFF;
    z-index: 11;
    font-family: monospace;
    position: fixed;
    top: 1em;
    width: 8em;
    text-align: left;
    display: none;
    right: 1em;
}