@use "global.scss";
@use "variables.scss";
@use "typography.scss";

// ios is very sensitive to the styling applied to
// html, body to achieve true 100vh in standalone mode
body,
#canvas {
    overflow: hidden;
    position: fixed;
    left: 0;
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
}

#canvas {
    z-index: 1;
}

html {
    height: 100%;

    // ios fails to render 100% height without this?
    &.standalone {
        height: 100vh !important;

        body,
        #canvas {
            height: 100vh !important;
        }
    }
}

#ui {
    z-index: 2;
    position: relative;
    display: block;
    pointer-events: none;
}

body::after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    height: 35%;
    z-index: 1;
    pointer-events: none;
    mix-blend-mode: multiply;
    background-image: linear-gradient(rgba(#2e6283, .2) 40%, transparent);
}

.distance {
    position: fixed;
    left: 1em;
    right: 1em;
    bottom: 1em;
    font-size: 2em;
    color: black;
    display: flex;
    justify-content: space-between;

}

.messages {
    position: absolute;
    top: 2em;
    left: 50%;
    translate: -50% 0;
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-size: 1.25rem;
    white-space: nowrap;
    place-items: center;
    place-content: center;

    li {
        display: flex;
        width: max-content;

        div {
            background-color: black;
            color: white;
            padding: .75rem 1.5rem;
            border-radius: .5em;
            position: relative;
            z-index: 1;
            margin-right: -.5em;
        }

        strong {
            font-weight: bold;
            background-color: blue;
            color: white;
            border-radius: .5em;
            padding: .75rem 1.5rem;

            &:empty {
                display: none;
            }
        }
    }
}