@import "global.scss";
@import "variables.scss";
@import "typography.scss";

.ui {
    position: fixed;
    font-size: 2em;
    color: #FFF;
    user-select: none;

    &--boom {
        transform: translateX(-50%);
        text-transform: uppercase;
    }
}