* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    outline: none;
    text-decoration: none;
    list-style: none; 
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    appearance: none; 
} 

html {
    background-color: #000; 
}

html, 
body {
    height: 100vh;
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

::selection {
    background-color: #000;
    opacity: 1;
    color: #FFF;
}

  
html,
body {
    overflow: hidden; 
    background-color: #0059FF;
}  

#root { 
    height: 100vh !important;
    width: 100% !important;
}

canvas { 
    top: 0; 
    position: fixed;
    display: block;
    height: 100vh !important; 
    width: 100% !important;
    right: 0;
    left: 0;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}