* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    color: inherit;
    outline: none;
    text-decoration: none;
    list-style: none; 
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    appearance: none; 
    text-transform: inherit;
} 
  
html,
body {
    overflow: hidden; 
} 

body {   
    color: black;
    background-color: rgb(235, 61, 184);  
} 

#root { 
    height: 100vh !important;
    width: 100% !important;
}

.main canvas { 
    top: 0; 
    position: fixed;
    display: block;
    height: 100vh !important;
    width: 100% !important;
    right: 0;
    left: 0;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
} 

.ui {
    position: absolute;
    top:1em;
    left:1em;
    z-index: 1000;
    padding-top: env(safe-area-inset-top);
    color: #FFF;
    mix-blend-mode: soft-light;
    opacity: 1;
}