@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

@theme {
    --animate-blink: blink .85s infinite;
    --animate-intro: intro 1.5s 1s cubic-bezier(0.25, 1, 0.5, 1) both;
}

@keyframes intro {
    0% {
        opacity: 0;
        translate: -50% -85%;
    }

    100% {
        opacity: 1;
        translate: -50% -50%;
    }
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}