@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..500&display=swap');

html {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .075em;
    font-weight: 300;
}
